:root {
    --background-color: #2E2F42;
    --title-color:#2E2F42;
    --text-color:#434455;
    --btn-hover-color: #404BBF;
    --white-color: #FFFFFF;
    --iric-color: #4D5AE5;
    --cloud-color: #F4F4FD;
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
}

/**----------GENERAL REQUIREMENTS-------------------*/



.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.logo-span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--iric-color);
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/**----------TOP LINE-------------------*/

.top-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/**----------HERO WEBSTUDIO-------------------*/

.hero {
    background-color: var(--background-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--iric-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-hover-color);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.webstudio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

/**----------SECTION ONE-------------------*/



/**----------SECTION TWO-------------------*/



/**----------SECTION THREE-------------------*/
.team {
    background-color: var(--cloud-color);
}


/**----------FUTER-------------------*/

.footer {
    background-color: var(--background-color);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-color);
}

/**----------PORTFOLIO-------------------*/

.filter-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iric-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--btn-hover-color);
    color: var(--white-color);
}
